<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <script>
  Telegram.WebApp.onEvent('viewportChanged', function() {
    Telegram.WebApp.expand(); // Развернуть Web App на весь экран
  });

  const user = Telegram.WebApp.initDataUnsafe.user; // Получение данных о пользователе
  console.log(user); // Вывод информации о пользователе в консоль
</script>
    <title>Document</title>
</head>
<body>
h1 Hello PUG 
p Lorem ipsum dolor sit amet.
    
</body>
</html>

